<div class="row mx-2 space">
  <div class="card border-3 border-primary py-2 col-3 mx-1 mb-3">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2 d-flex">
          <div class="col-6">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-1"
            >
              Clientes
            </div>
            <div class="h5 mb-0 font-wight-bold">
              <h5>Total: <%=clientes.length%></h5>
            </div>
          </div>
          <div class="col-6 text-right">
            <i class="fas fa-user fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card border-3 border-success py-2 col-3 mx-1">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2 d-flex">
          <div class="col-6">
            <div
              class="text-xs font-weight-bold text-success text-uppercase mb-1"
            >
              Fotos
            </div>
            <div class="h5 mb-0 font-wight-bold text-gray">
              <h5>Total: <%=fotos.length%></h5>
            </div>
          </div>
          <div class="col-6 text-right">
            <i class="fas fa-image fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card border-3 border-warning py-2 col-3 mx-1">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2 d-flex">
          <div class="col-6">
            <div
              class="text-xs font-weight-bold text-warning text-uppercase mb-1"
            >
              Ordenes
            </div>
            <div class="h5 mb-0 font-wight-bold text-gray">
              <h5>Total: <%=ordenes.length%></h5>
            </div>
          </div>
          <div class="col-6 text-right">
            <i class="fas fa-money-bill-alt fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card border-3 border-danger py-2 col-3 mx-1">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2 d-flex">
          <div class="col-6">
            <div
              class="text-xs font-weight-bold text-danger text-uppercase mb-1"
            >
              Admins
            </div>
            <div class="h5 mb-0 font-wight-bold">
              <h5>Total: <%=admin.length%></h5>
            </div>
          </div>
          <div class="col-6 text-right">
            <i class="fas fa-lock fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
